body,html{display:flex;justify-content:center;flex-direction:column;align-items:center;margin-top:10px}p,button{margin:10px;padding:10px}div{display:flex;justify-content:center;flex-direction:column;align-items:center}
